<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs2"></ion-back-button>
    </ion-buttons>
    <ion-title>Mensa {{canteen?.canteen?.name}} {{canteen?.canteen?.city}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tabs2"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Mensa {{canteen?.canteen?.name}} {{canteen?.canteen?.city}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!canteen?.canteen">
    Errore: Questa mensa non esiste o non è stata aggiunta
  </div>

  <ion-list *ngIf="canteen?.canteen" [inset]="true">
    <ion-item>
      <ion-label><strong>Nome </strong></ion-label>
      <ion-input [(ngModel)]="canteen.name" (ionChange)="update()"></ion-input>
    </ion-item>


    <ion-item>
      <strong>Colore</strong>
      <div class="colors-container">
        <div class="color-icon" *ngFor="let color of colors" aria-hidden="true" style="background-color: {{color}}"
          [ngClass]="{'color-selected':color==canteen.color}" (click)="selectColor(color)"></div>
      </div>
    </ion-item>

    <ion-item>
      <ion-checkbox justify="space-between" [(ngModel)]="canteen.notifications" (ionChange)="update()"><strong>Inserisci
          nelle notifiche</strong></ion-checkbox>
    </ion-item>

  </ion-list>

  <ion-label class="ion-text-wrap" color="medium">
    <p class="padding-15">Il nome può essere qualunque vi aiuti ad identificare meglio il menu a cui si fa riferimento
      (per esempio il
      nome
      del bambino che mangia in quella mensa)</p>
  </ion-label>

  <ion-button class="margin-top-20" expand="block" color="danger" id="present-alert">
    <ion-icon slot="start" name="trash-outline"></ion-icon>
    Elimina
  </ion-button>

  <ion-button class="margin-top-20" expand="block" color="primary" (click)="addToCalendar()"
    *ngIf="canteen?.canteen?.sharing">
    <ion-icon slot="start" name="calendar-outline"></ion-icon>
    Aggiungi al tuo calendario
  </ion-button>

  <ion-button class="margin-top-20" expand="block" (click)="back()">
    <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    Ritorna
  </ion-button>


</ion-content>

<ion-alert trigger="present-alert" class="custom-alert"
  header="Vuoi davvero togliere questa mensa da quelle selezionate?" [buttons]="alertButtons"></ion-alert>