<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configurazione
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configurazione</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-label>Mense selezionate</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let cantine of myCantines" [button]="true" (click)="openCantine(cantine)">
      <ion-icon aria-hidden="true" name="elipse" slot="start" style="color:{{cantine.color}}"></ion-icon>
      <ion-label>{{cantine.name}}</ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="!myCantines?.length">
    <h2>Non è stata aggiunta nessuna mensa</h2>
    <p>Aggiungine una con il pulsante in basso</p>
  </div>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add" [routerLink]="'/add-cantine'"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>