<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu del giorno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-spinner name="dots" color="primary" *ngIf="loading"></ion-spinner>

  <div [hidden]="loading">
    <ng-container *ngFor="let eventGroup of eventGroupsPast">
      <ng-container *ngTemplateOutlet="eventGroupTemplate;context:{data:eventGroup}"></ng-container>
    </ng-container>
    <div #today id="today" style="margin-top: -90px; position: absolute;"></div>
    <ng-container *ngFor="let eventGroup of eventGroupsFuture">
      <ng-container *ngTemplateOutlet="eventGroupTemplate;context:{data:eventGroup}"></ng-container>
    </ng-container>

    <ng-template #eventGroupTemplate let-eventGroup="data">
      <ion-card class="main-card">
        <ion-card-header>
          <ion-card-title class="menu-card-title">
            <ion-icon name="ellipse" color="primary" size="small" *ngIf="isToday(eventGroup.date)"></ion-icon>
            <span class="date-name">{{eventGroup.date | dfnsFormat : 'dd/MM/yy EEEE'}}</span>
            <span class="date-sub">{{eventGroup.date | myDate}}</span>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-card *ngFor="let event of eventGroup.events">
            <ion-card-header style="background-color: {{event.canteen.color}}">
              <ion-card-subtitle class="menu-card-subtitle">{{event.canteen.name}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-item *ngFor="let food of event.foods">
                {{food}}
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </div>

  <ion-card class="main-card" *ngIf="!eventGroupsPast?.length && !eventGroupsFuture?.length && !loading">
    <ion-card-header>
      <ion-card-title *ngIf="canteens.length === 0">Non è stata ancora aggiunta nessuna mensa</ion-card-title>
      <ion-card-title *ngIf="canteens.length === 1">Non sono presenti menu per questo periodo nella mensa
        selezionata</ion-card-title>
      <ion-card-title *ngIf="canteens.length > 1">Non sono presenti menu per questo periodo nelle
        {{canteens.length}}
        mense selezionate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="canteens.length > 0">
        Per ottenere maggiori risultati potrebbe essere necessario aggiungere altre mense
      </p>
      <ion-button expand="block" color="primary" [routerLink]="['/add-canteen']">
        <ion-icon slot="add" name="arrow-back-outline"></ion-icon>
        Aggiungi mensa
      </ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>