<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu giornaliero
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-spinner *ngIf="loading"></ion-spinner>

  <ion-accordion-group #accordionGroup expand="inset" [hidden]="loading">
    <ion-accordion [value]="eventGroup.date | dfnsFormat: dateFormat" *ngFor="let eventGroup of eventGroups">
      <!-- <div #today id="today" *ngIf="isToday(eventGroup.date)"></div> -->
      <ion-item slot="header">
        <ion-icon name="ellipse" size="small" *ngIf="isToday(eventGroup.date)"></ion-icon>
        <ion-label>
          <span class="date-name">{{eventGroup.date | dfnsFormat : 'dd/MM/yy EEEE'}}</span>
          <span class="date-sub">{{eventGroup.date | myDate}}</span>
        </ion-label>
      </ion-item>

      <div slot="content">

        <ion-card *ngFor="let event of eventGroup.events">
          <ion-card-header style="background-color: {{event.cantine.color}}">
            <ion-card-subtitle>{{event.cantine.name}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-item *ngFor="let food of event.foods">
              {{food}}
            </ion-item>
          </ion-card-content>
        </ion-card>


      </div>
    </ion-accordion>

  </ion-accordion-group>

  <ion-card *ngIf="!eventGroups?.length && !loading">
    <ion-card-header>
      <ion-card-title *ngIf="cantines.length === 0">Non sono è stata selezionata nessuna mensa</ion-card-title>
      <ion-card-title *ngIf="cantines.length === 1">Non sono presenti menu per questo periodo nella mensa
        selezionata</ion-card-title>
      <ion-card-title *ngIf="cantines.length > 1">Non sono presenti menu per questo periodo nelle {{cantines.length}}
        mense selezionate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="cantines.length > 0">
        Per ottenere maggiori risultati potrebbe essere utile aggiungere altre mense
      </p>
      <ion-button expand="block" color="primary" [routerLink]="['/add-cantine']">
        <ion-icon slot="add" name="arrow-back-outline"></ion-icon>
        Aggiungi mensa
      </ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>